<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>好きな曲</title>
</head>
<body>
  <h2>好きな曲の詳細</h2>
  <table>
    <tr><th>ID</th><th>好きな曲コード</th><th>曲名</th></tr>
      <% for( let row of data ) { %>
        <tr><td><%= row.id %></td>
        <td><%= row.code %></td>
        <td><%= row.name %></td></tr>
      <% } %>
  </table>
</body>
</html>