<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>好きなゲーム</title>
</head>
<body>
  <h2>好きなゲームの詳細</h2>
  <table border="1">
    <tr><th>ID</th><th>ゲーム名</th></tr>
      <% let number = 0 %>
      <% for( let row of data ) { %>
        <tr><td><%= row.id %></td>
        <td><a href="/game/<%= number %>"><%= row.name %></a></td>
        <td><a href="/game/delete_confirm/<%= number %>"  style="color: #e74c3c;">削除する</a></td></tr>
        <% number += 1 %>
      <% } %>
  </table>
  <a href="/game/create">追加</a>

</body>
</html>